{%extends 'base.html'%}


{% block head %}
<title>Nutrition Assistant</title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    Welcome to my home page
    </h1>
   
   <br><br>
    <h1>Abstract:</h1><h3><em>->Nutrition assistants help dieticians with providing proper nutrition at healthcare facilities. They determine patients' nutritional needs, assess risk factors, and plan meals and menus. They also ensure proper sterilization of plates and utensils.<br>
   <b> Nutrition Assistant Responsibilities:</b><br>
    ->Providing dieticians with the facility's meal and menu planning.
    Obtaining dietary information and assessing the nutritional habits of patients.
    Recording individual risk factors or dietary restrictions that might impact meal planning.
    Coordinating meal plans with nutritionists and healthcare professionals.<br>
    ->Performing ongoing nutrition assessments, including the measurement of caloric intake and activity levels.
    Facilitating immediate interventions for signs of malnutrition, allergic reactions, or refusal to eat.<br>
    ->Assisting in meal distribution, ensuring correctly delivered, and timely served meals.
    Maintaining proper sterilization protocols in the clearing away and cleaning of plates and utensils.
    Safely discarding leftover portions to prevent the spread of disease.<br>
    ->Instructing patients and families on nutrition plans and healthy eating habits.</em></h3>
   {% endblock %}
</body>
</html>